// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// DATATABLE
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

//FontAwsome
@import "node_modules/font-awesome/scss/font-awesome.scss";

//JSOCIAL
@import "node_modules/jssocials/styles/jssocials.scss";
@import "node_modules/jssocials/styles/jssocials-theme-classic.scss";

//Tippy
@import "node_modules/tippy.js";

//JQUERY
@import '~jquery-ui-dist/jquery-ui.css';
@import '~jquery-confirm/dist/jquery-confirm.min.css';



/*==================
-------DEFAULT------
==================*/

.cursor-pointer{cursor: pointer;}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body b {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/*==================
-------MEMBER-------
==================*/

.list-card-members .member {
    height: 28px;
    width: 28px;
}
.list-card-members .member .member-initials {
    height: 28px;
    line-height: 28px;
    width: 28px;
}
.filter{
    cursor: pointer;
}
.filter.active{
    opacity: 0.2;
}

.member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}
.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

/*==================
-------FILTER-------
==================*/

.filter.all{color: #ededec;}
.filter.is-late{color: #fb6a6a;}
.filter.is-finish{color: #8db78d;}
.table .is-late{border-left: 4px solid #fb6a6a !important;}
.table .is-finish{border-left: 4px solid #8db78d !important;}
.hide{display: none;}
.show{display: table-row;}

/*==================
--RESPONSIVE IMAGE--
==================*/

.responsive-img{
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.responsive-img.image-thumbnail{
	border: 5px solid #fff;
	border-radius: 5px;  
}

.responsive-img img{
	z-index: 0;
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.responsive-img .responsive-img-full{
	min-width: 100%;
	min-height: 100%;
}

/*==================
-------TIMELINE-----
==================*/


/*==================
--SETTINGS TRELLO--
==================*/

#settings-trello{
    background: #fff;
}

#settings-trello.show{
    display: block !important;
}

/*==================
-----DATATABLE------
==================*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
@media (min-width: 576px) {
    .container {
      max-width: 560px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 760px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 990px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
}

@media (min-width: 1300px) {
    .container {
      max-width: 1250px;
    }
}

@media (min-width: 1500px) {
    .container {
      max-width: 1450px;
    }
}

@media (min-width: 1700px){
    .container {
        max-width: 1650px;
    }
}

@media (min-width: 1900px){
    .container {
        max-width: 1850px;
    }
}

.dataTables_wrapper{
    overflow-x: hidden;
}

.table.table-striped{
    overflow-x: auto;
    display: block;
}

.dataTables_wrapper th p,
.dataTables_wrapper td p{margin-bottom: 0px !important;}

.dataTables_wrapper th p{white-space: nowrap;}
